[Desktop Entry]
Encoding=UTF-8
Name=superskynet
Comment=superskynet P2P Cryptocurrency
Comment[fr]=superskynet, monnaie virtuelle cryptographique pair à pair
Comment[tr]=superskynet, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/superskynet-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/superskynet;
Categories=Office;
